In [1]:
import pandas as pd

In [2]:
# cerating data frame
d1 = pd.DataFrame({"Name":['Ashwin','Aparnaa','Uma','Marimuthu'],'Roll':[1,2,3,4]})

In [3]:
d1

        Name  Roll
0     Ashwin     1
1    Aparnaa     2
2        Uma     3
3  Marimuthu     4

In [4]:
# changing index
d1 = pd.DataFrame({"Name":['Ashwin','Aparnaa','Uma','Marimuthu'],'Roll':[100,200,300,400]},index = [1,2,3,4])

In [5]:
d1

        Name  Roll
1     Ashwin   100
2    Aparnaa   200
3        Uma   300
4  Marimuthu   400